.navbar{
    display: flex;
    /* position: fixed; */
    
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    background-color: black;
}
.navbar:hover{
    background-color: black;
}
.PersonOffIcon{
    margin-top: 28px;
    color: white;
}
.nav-image{
   width: 50px;
   margin-bottom: 30px;
   margin-top: none;
}
.home{
    margin-top: 26px;
    color: rgb(250, 246, 246);
}
.nuts-seeds-berries{
    text-decoration: none;
    margin-top: 30px;
    color: white;
}
.CartLength{
    position: absolute;
    margin-left: 1010px;
    margin-top: 14px;
    color: lightgreen;
}
.gifts-galore{
    text-decoration: none;
    margin-top: 30px;
    color: white;
}
.indian-kitchen{
    text-decoration: none;
    margin-top: 30px;
    color: white;
}
.nuts-about-deals{
    text-decoration: none;
    margin-top: 30px;
    color: white;
}
.search{
    margin-top: 28px;
    color: white;
}
.personIcon{
    margin-top: 28px;
    color: white;
}
.cart{
    margin-top: 28px;
    color: white;
}