.login-content {
    display: flex;
    height: 100%;
    align-items: center;
  }
  
  .login-Image {
    margin-bottom: 50px;
    width: 300px;
    height: 465px;
    border-radius: 10px;
  }
  a{
    cursor: pointer;
  }
/* .login-container{
    position: absolute;
    background-color: rgb(117, 149, 117);
    margin-left: 620px;
    margin-top: 10px;
    width: 700px;
    height: 500px;
    border-radius: 5px;
} */
 .login-container{
    /* position: relative; */
    margin-left: 600px;
    display: flex;
    border-radius: 5px;
    width: 200px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
 }
.login-form{
    /* border: 3px solid green; */
    width: 400px;
    margin-left: 1px;
    height: 460px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    background-color: rgb(133, 161, 133);
}
.LoginCancleBtn{
    position: absolute;
    margin-left: 660px;
    cursor: pointer;
}
.LoginLogo{
    margin-top: 0px;
    width: 50px;
    height: 50px;
}
.login-label-name{
    margin-right: 245px;
    font-weight: 200;
}
.login-label-password{
    margin-right: 245px;
}
input{
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
}
.login-btn{
    width: 300px;
    height: 40px;
    border: 3px solid rgb(26, 229, 8);
    border-radius: 10px;
    font-size: 23px;
    cursor: pointer;
}
.login-btn:hover {
    background-color: #e7f0e9;
}
